@font-face {
    font-family: CenturyGothic;
    src: url(../fonts/CenturyGothic.ttf);
  }
* {
    box-sizing: border-box;
}
.main-page{
    background: linear-gradient(45deg, #00000005, #00000005, #00000005, #000000a6);
    font-family: CenturyGothic;
}

.left-centered {
    position: fixed; /* or absolute */
    top: 40%;
  }

.presentation {
    left: 10%;
}
.light-font {
    font-weight: lighter;
}
.stretch{
    font-stretch: semi-condensed;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
}
h3 {
    display: block;
    font-size: 1.7em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
    color:#8c8c8c;
}
button{
    background: none;
    border-style: double;
    border-color: gray;
    border-width: 1px;
    font: 500 30px monospace;
    font-weight: normal;
    padding: 2px 30px;
    letter-spacing: 3px;
    transform: scale(1.2, 1);
    -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
    -moz-transform: scale(1.2, 1); /* Firefox */
    -ms-transform: scale(1.2, 1); /* IE 9+ */
    -o-transform: scale(1.2, 1); /* Opera */

}
button.start{
    margin: 40px 20px;
}